<edit-header ng-if="post" post="post" step="'edit'" editing="!saved"></edit-header>

<section ng-if="post" id="posteditor">

  <div ng-if="editErr" class="editor-error-wrap">
    <h3 ng-bind-html="editErr.message | html"></h3>
    <h2>Try <a href="/posts/fork/{{_id}}" target="_self">fork it</a> now? </h2>
  </div>

  <div ng-if="data" class="statusbar {{saved ? 'saved': 'unsaved' }}">


    <span class="status">
      <button class="btn btn-sm btn-save" ng-click="save()" ng-if="!saved">Save</button>
      <span class="saved" ng-if="saved">saved</span>

      <span ng-if="submitted">|
        <a href="https://www.github.com/{{repo}}/blob/edit/post.md" target="_blank">{{repo}}</a>
        on edit branch
      </span>
      <span class="unsaved" ng-if="submitted && !syncedMD">HEAD not synced</span>
    </span>
  </div>

  <div ng-if="data" class="editor-wrap">

    <section ng-if="aceLoaded" id="editor">
      <div id="aceeditor" ui-ace="{
        useWrapMode:true,
        theme:'dawn',
        mode:'markdown',
        onLoad: aceLoaded,
        onChange: aceChanged,
        onBlur: aceChanged
      }"
      ng-model="data.md"
      >
    </section>

    <section id="post" preview="post">
    </section>

  </div>

<!--   <a class="btn-preview" ng-href="{{previewLink(_id)}}" target="_blank"
    ng-disabled="!(saved&&previewable)">Preview</a>

 -->

<!--   <button class="btn-submit"
    ng-if="toSubmit" ng-click="redirectSubmit(_id)"
    ng-disabled="!saved">Submit</button> -->

<!--   <a class="btn-pr" ng-if="!isAuthor" href="https://github.com/airpair/{{slug}}/compare/edit...{{repo}}:edit" target="_blank"
      ng-disabled="!saved || syncedMD">Create PR</a>
 -->

<!--   <input type="button" class="btn-sync" ng-click="sync()" ng-if="submitted && isAuthor" ng-disabled="!saved || syncedMD" value="Sync" />
 -->

<!--   <button class="btn-publish"
    ng-if="toPublish" ng-click="redirectPublish(_id)"
    ng-disabled="!saved">Publish</button>

 -->
<!--   <div class="commitmsg" ng-if="submitted">
    <input type="text" ng-disabled="saved" ng-model="data.commitMessage" placeholder="Enter a commit message" class="form-control" />
  </div>
 -->
 <!-- && wordcountTooLow -->
  <!-- <label ng-if="!(post.submitted || post.published)">
    See the <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown guide</a> & our <a href="/authoring-faq" target="_blank">Authoring FAQ</a>
  </label> -->


</section>

<footer ng-if="post" class="edit">

    <p class="tip">
      <todo-helper todo="todo" md="data.md" id="_id"></todo-helper>
    </p>

</footer>
