<section id="posteditor">

  <div ng-if="editErr" class="editor-error-wrap">
    <h3 ng-bind-html="editErr.message | html"></h3>
    <h2>Try <a href="/posts/fork/{{_id}}" target="_self">fork it</a> now? </h2>
  </div>

  <div ng-if="data" class="statusbar {{saved ? 'saved': 'unsaved' }}">
    <div class="tip">
      <!-- <label>TIP:</label> -->
      <todo-helper todo="todo" md="data.md" id="_id"></todo-helper>
    </div>

    <span class="status">
      <span class="unsaved" ng-if="!saved">unsaved</span>
      <span class="saved" ng-if="saved">saved</span>
        <!-- <span ng-if="post.submitted"> <a href="https://www.github.com/{{post.repo}}/blob/edit/post.md" target="_blank"></a> on edit branch</span> <span class="unsaved" ng-if="!post.synced">(HEAD not synced)</span> -->

      <b>{{title}}</b>

      [<span ng-if="!submitted && !published">DRAFT</span><span ng-if="submitted && !published"><a href="/activity/in-review" target="_blank">Submited</a></span><span ng-if="published"><a href="{{url}}" target="_blank">published</a></span>]

      <!-- <span ng-if="post.submitted"> , <span class="saved" ng-if="post.synced">synced</span></span>. -->
    </span>
  </div>

  <div ng-if="data" class="editor-wrap">

    <section ng-if="aceLoaded" id="editor">
      <div id="aceeditor" ui-ace="{
        useWrapMode:true,
        theme:'dawn',
        mode:'markdown',
        onLoad: aceLoaded,
        onChange: aceChanged,
        onBlur: aceChanged
      }"
      ng-model="data.md"
      >
    </section>
  <!--
    <section id="post" ap-post="">
    </section> -->

  </div>

<div ng-if="data" class="form-actions">

  <button class="btn-save" ng-click="save()" ng-disabled="saved">Save</button>

  <a class="btn-details" href="/post-details/{{_id}}" ng-if="!published"
     ng-disabled="!saved">Details</a>

  <a class="btn-preview" ng-href="{{previewLink(_id)}}" target="_blank"
    ng-disabled="!(saved&&previewable)">Preview</a>

  <button class="btn-submit"
    ng-if="toSubmit" ng-click="redirectSubmit(_id)"
    ng-disabled="!saved">Submit</button>

  <!--   <a class="btn btn-pr" href="https://github.com/airpair/{{post.slug}}/compare/edit...{{session.social.gh.username}}:edit" target="_blank" ng-if="!isAuthor"
      ng-disabled="!post.saved || post.synced">Create PR</a>
   -->
  <!--   <input type="button" class="btn btn-sync" ng-click="propagate()" ng-if="post.submitted && isAuthor" ng-disabled="!post.saved || post.synced" value="Sync" />
   -->

  <button class="btn-publish"
    ng-if="toPublish" ng-click="redirectPublish(_id)"
    ng-disabled="!saved">Publish</button>


  <div class="commitmsg" ng-if="post.submitted">
    <input type="text" ng-disabled="post.saved" ng-model="post.commitMessage" placeholder="Enter a commit message" class="form-control" />
  </div>

 <!-- && wordcountTooLow -->
  <!-- <label ng-if="!(post.submitted || post.published)">
    See the <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown guide</a> & our <a href="/authoring-faq" target="_blank">Authoring FAQ</a>
  </label> -->

</div>

</section>
