<style type="text/css">
  body > footer { display:none }
  body > header > div { display:none }
</style>


<nav ng-if="isAuthor !== undefined" class="edit">
  <ol>
    <li class="edge">
      <a href="/" class="home" target="_self">
        <img src="https://static.airpair.com/img/author/airpair-author.png" />
      </a>
    </li>
    <li>
      <a ng-if="post._id && editing" class="disabled" title="Save your changes">Info</a>
      <a ng-if="step=='info'" class="current">Info</a>
      <a ng-if="step!='info' && !editing" href="/post-info/{{post._id}}">Info</a>
    </li>
    <li>
      <a ng-if="!post._id" class="disabled" title="Supply a title to unlock the post editor">Edit</a>
      <a ng-if="step=='edit'" class="current">Edit</a>
      <a ng-if="step!='edit' && post._id" href="/editor/{{post._id}}">Edit</a>
      <b>|</b>
      <a ng-if="post._id && !post.submitted" ng-confirm-click="delete(post._id)" confirm='Delete post "{{post.title}}"?' class="delete">Delete</a>
    </li>
    <li ng-if="isAuthor">
      <a ng-if="step!='submit' && !submittable" class="disabled" title="Complete post requirement to unlock submit">Submit</a>
      <a ng-if="step!='submit' && submittable" href="/submit/{{post._id}}">Submit</a>
      <a ng-if="step=='submit'" class="current">Submit</a>
    </li>
    <li>
      <a class="disabled" title="Submit your post to unlock social features">Collaborte</a>
    </li>
    <li ng-if="isAuthor" class="edge">
      <a class="disabled" title="Complete post requirement to unlock submit">Publish</a>
    </li>
    <!-- <li class="edge" ng-if="isAuthor">
      <a class="disabled" title="Complete post requirement to unlock submit">Promote</a>
    </li> -->
  </ol>

  <span class="status {{status}}" ng-if="status">[<b>{{status}}</b>]</span>
  <cite>{{post.title||'New post'}}</cite>
</nav>
