<header ng-if="post">
  <ol class="entry-meta breadcrumb">
    <li><a href="/library" target="_self">Library</a></li>
    <li ng-if="prev"><a ng-href="/post-details/{{post._id}}">{{post.title}}</a></li>
    <li ng-if="prev"><a ng-href="/editor/{{post._id}}">Edit</a></li>
    <li class="current">Submit</li>
  </ol>
</header>


<section id="postsubmit" ng-if="post">


  <div class="col main">

    <h2>Submit for community review</h2>

    <p>A repo will be created on AirPair's Github organization account</p>

    <img class="flow" src="//static.airpair.com/img/author/authoring-flow-store.png" />


    <div class="submitRepo">
      <hr />

      <div class="form-group">
        <label>
          <b ng-if="post.slug.length > 50"><span class="invalid">{{post.slug}}</span>
           is too long <em class="invalid">{{post.slug.length}} chars</em></b>
          <b ng-if="submission.invalid">Repo name
            <span class="invalid">{{post.slug}}</span> unavailable
            <span ng-bind-html="submission.invalid"></span></b>
          <b ng-if="submission.valid">Repo name
            <span class="valid">{{post.slug}}</span> available</b>
        </label>

        <input ng-model="post.slug" type="text" class="form-control"
          ng-change="refreshSubmission()" />
      </div>

      <div ng-if="submission.valid">
        <div>
          <single-submit button-text="'Submit Post & Create Repo'" wait-text="Creating repo, this can take a few seconds ..." on-single-click="submitDeferred">
          </single-submit>
        </div>
        <p>
          <span style="color:red;text-transform:uppercase">* Once submitted, your post <b>repo name cannot be changed</b>.</span>
        </p>

        <!-- <p> In order to give you write privilages to the repo,
        we'll add you to the airpair organization on GitHub.</p> -->
      </div>
    </div>


  </div>


  <div class="col side">
    <h3>Git for authoring?</h3>

    <p>Posts on AirPair are backed by GitHub repos. Git
    enables collaboration between authors and readers using familiar tools
    you know and love like forks, pull requests, issues & comments.
    For more info, see our
    <a href="https://www.airpair.com/social-authoring" target="_blank">Social Authoring Annoucement</a>.</p>

  </div>

</section>
