<div class="server-errors" server-errs></div>
<main ng-view>
  {{{body}}}
</main>
<script>
  window.pageData = { session: {{{ JSON session }}} }
</script>
<script type="text/javascript" src="{{js.ang1}}"></script>
