<main>
  <section id="welcome">

    {{#if warnings}}
      <div class="alert alert-danger">{{#each warnings}}<p>{{this}}</p>{{/each}}</div>
    {{/if}}

    <div class="col main">


      <section class="login">
        <h3>author.airpair.com</h3>

        <img class="flow" src="https://static.airpair.com/img/author/authoring-flow.png" />

        <h2>Login</h2>

        <p>Before you can login to author.airpair, <b>you need an
        airpair.com account</b> linked with your GitHub profile.
        If you don't, no drama!
        <a href="https://www.airpair.com/auth/github/callback">login to
        airpair.com</a> and come back.
        </p>

        <p>If you have logged into airpair.com recently, you're ready to:</p>

        {{#if authenticated}}
          <a href="/logout" target="_self">Logout</a>
        {{else}}
          <a href="/auth/github/callback" target="_self" class="btn gh gh-white">
          Login w GitHub</a>
          <span class="info">* This site requires write permissions to your public repos</span>
        {{/if}}
      </section>


    </div>

    <div class="col side">
      <h3>this.opensource = true</h3>

      <p><em>author.airpair.com</em> is <a href="https://github.com/airpair/author.airpair.com" target="_blank">open source</a></p>

      <p>Both <em>author.airpair</em> and the framework it's built on are
      new. Report bugs via the
      <a href="https://github.com/airpair/author.airpair.com/issues" target="_blank">issues page</a></p>
      <br />
      {{!-- <h4>Get paid to contribute</h4>

      <p>We'll pay any developer that wants to write a post
      (for the airpair blog <a href="https://www.airpair.com/software-experts">airpair blog</a>)
       about building a feature
       on top of the meanair stack.</p>
      <p>To propose an idea, fork this repo send a PR with
      a markdown file containing your thoughts under:<code>/docs/features/proposed</code>
      </p> --}}

    </div>

  </section>

</main>
