<main>
  <section id="welcome">

    {{#if warnings}}
      <div class="alert alert-danger">{{#each warnings}}<p>{{this}}</p>{{/each}}</div>
    {{/if}}

    <div class="col main">


      <section class="login">
        <h3>author.airpair.com</h3>

        <img class="flow" src="https://static.airpair.com/img/author/authoring-flow.png" />

        <h2>Login</h2>

        <p>To login to author.airpair <b style="text-transform:uppercase">you need an
        airpair.com account</b> already linked with your GitHub profile.
        If you don't, no drama!
        <a href="https://www.airpair.com/auth/github/callback">Login to
        airpair.com</a> first and avoid being banned for not reading instructions.
        </p>

        {{#if authenticated}}
          <a href="/logout" target="_self">Logout</a>
        {{else}}
          <a href="/auth/github/callback" target="_self" class="btn gh gh-white">
          Login w GitHub</a>
          <span class="info">* This site requires write permissions to your public repos</span>
        {{/if}}
      </section>


    </div>

    {{!--   <div class="col side">
    <h3>this.opensource = true</h3>

      <p><em>author.airpair.com</em> is <a href="https://github.com/airpair/author.airpair.com" target="_blank">open source</a></p>
      <iframe src="https://ghbtns.com/github-btn.html?user=airpair&repo=author.airpair.com&type=fork&count=false" frameborder="0" scrolling="0"></iframe>

      <p>Both <em>author.airpair</em> and the framework it's built on are
      new. Report bugs via the
      <a href="https://github.com/airpair/author.airpair.com/issues" target="_blank">issues page</a></p>
      <br />
      <h4>Get paid to contribute</h4>

      <p>We'll pay any developer that wants to write a post
      (for the airpair blog <a href="https://www.airpair.com/software-experts">airpair blog</a>)
       about building a feature
       on top of the meanair stack.</p>
      <p>To propose an idea, fork this repo send a PR with
      a markdown file containing your thoughts under:<code>/docs/features/proposed</code>
      </p>

    </div> --}}

    <div class="col side">
      <h3>2016 Writing Comp</h3>

      <p>It's that time of year! Mark your calendar with open submissions from <b>Mar 1 - May 30</b>.</p>

      <h5>$100k CASH prizes to win!!!</h5>

      <p>Just like <a href="https://www.airpair.com/100k-writing-competition" target="_blank"><b>last year's competition</b></a> we've got $100,000 and
      are awarding $5k, $3k and $2k to the overall best posts.</p>

    </div>

  </section>

</main>
