nav.edit {
  position:fixed;
  top:0;left:0;
  padding:4px 10px;
  width:100%;
  img { width:28px;height:28px }
  ol {
    display:inline;padding:0;margin:0;
    li {
      vertical-align:top;
      list-style:none;
      display:inline-block;
      line-height:24px;
      height:30px;
      padding-top:0px;
      a {
        margin-top:2px;
        display:inline-block;
        font-size:15px;
      }
      a.disabled {
        color:@lightgray
      }
      a.current {
        color:@gray
      }
      a.home {
        margin-top:0px!important;
      }
    }
    li::after { content:">";
      display:inline-block;
      color:@mediumgray;
      padding:0px 5px;
      font-size:12px;font-weight:bold }
    li.edge::after { content:"";padding:2px }
  }
  cite, span {
    font-weight:normal;float:right;color:@mediumgray; display:inline-block;
  }
  cite { font-size:18px;padding-top:2px }
  span.status { font-size:15px;padding:4px 5px;}
  span.status b { text-transform:uppercase; }
  .draft { color:@darkyellow }
  .submitted {}
  .published {}
}

footer.edit {
  position:absolute;
  bottom:0;left:0;right:0;
  height:120px;
  border-top:solid 1px @bluegray;
  background-color:@lightblue;
  padding-top:2px;
  p {
    max-width:900px;
    padding:15px 0 0px 0;
    margin:auto;text-align:center;font-size:16px;
    color:@textgray
  }
}

section#postinfo {
  position:relative;

  .start {
    padding:30px 10px 20px 10px;
    color:black;
    font-size:13px;
    margin:0px auto 20px auto;
    text-align:center;
    max-width:90%;
    h3 { margin:5px auto 20px auto }
    p { margin-top:120px;text-align:justify; }
    em { font-weight:bold;font-style:normal; }
    img { max-width:640px;width:88%;margin:auto }
  }

  .form-group {
    input { padding-top:10px;padding-bottom:10px;height:42px }
    label { width:100% }
    label i.info {
      color:@gray;font-weight:normal;
      float:right;
      text-align:right;
      font-style:normal;
    }
  }
  .title-group {
    padding-top:28px;
  }
  .tag-input-group {
    height:45px;
    label { display:none }
    input { width:280px;float:left }
    .selected {
      width:140px;
      display:block;
      float:right;
      li { display:block;background:none;border:none }
      .remove { float:left;background:none;
        color:red;display:inline-block;font-size:14px;
        padding:0px 5px 0px 0px
      }
      p { padding:10px 0 0 0;font-size:12px }
    }
  }
  .form-actions {
    border-top:1px solid @bluegray;
    margin-top:30px;
    padding-top:20px;
    text-align:center;
    .btn { width:260px }
  }
}


section#posteditor {
  .absolutelyStreched;
  top:38px;
  z-index:100;

  .statusbar {
    position:absolute;
    top:0;left:0px;right:0px;
    padding:1px 10px;
    height:30px;
    font-size:14px;
    line-height:18px;
    border-bottom:solid 1px @bluegray;
    &.saved { background:#E6F0E6;font-weight:bold }
    &.unsaved { background:#FAF5E6; }
    .status {
      span { text-transform:uppercase; }
      z-index:10;
      display:inline-block;
      position:absolute;
      top:6px;
      .saved { color:darkgreen; }
      .unsaved { color:@darkyellow; }
    }
    .btn-save { margin-top:-1px;padding:1px 20px }
  }

  span.modes {
    font-weight:300;
    padding:5px;
    float:right;
    a.current { font-weight:bold;color:@gray }
  }

  .editor-error-wrap { text-align:center }

  #editor {
    .absolutelyStreched;
    top:30px;
    bottom:120px;
    max-width:620px;
    .ace_editor {
      .absolutelyStreched;
      .ace_content { padding:8px 4px }
      font-size:12px;
    }
    .ace_gutter { display:none }
  }

  .preview {
    opacity:0.9;
    .absolutelyStreched;
    top:30px;
    bottom:120px;
    overflow-y:scroll;
    overflow-x:hidden;
    // article { width:640px; }
    left:620px;
    bottom:120px;
    // .author { display:none }
    // .author + hr { display:none }
    // p.asset { display:none }
    // p.asset + hr { display:none }
    // footer { display:none }

    #preview-meta {
      position:fixed;
      right:15px;
      left:620px;
      bottom:120px;
      height:30px;
      opacity:0.7;
      div {
        z-index:103;
        margin:auto;
        width:320px;
        color:black;
        padding:4px 10px;
        background-color:@paleyellow;
        border:solid 1px @gitgray;
        border-top-right-radius:30%;
        border-top-left-radius:30%;
        text-align:center;
      }
      span { color:@blue }
    }
  }



  @media screen and (max-width:641px) {
    .preview, span.modes { display:none; }
  }

  // .postpreviewpanes;
  // .editor-wrap {
  //   left:60px;right:20px;
  // }

  // .form-actions {
  //   position:absolute;
  //   bottom:0;left:0;right:0;
  //   height:100px;
  //   padding:10px;
  //   border-top:solid 1px @bluegray;
  //   background:@lightblue;
  //   hr { border-color:@lightblue }
  //   .btn-action {
  //     text-align:left;
  //     width:160px;margin:0px 5px;font-size:14px;float:right;background-repeat:no-repeat;
  //     &[disabled] {
  //       background-image:none!important;
  //       background-color:@lightgray;
  //       cursor:default;
  //     }
  //   }
  //   .btn-save { .btn;.btn-action }
  //   .btn-details { .btn;.btn-action }
  //   .btn-preview { .btn;.btn-action }
  //   .btn-publish { .btn;.btn-action }
  //   .btn-submit { .btn;.btn-action }
  //   .btn-sync { .btn;.btn-action;background-image:url('@{static}/img/icons/gh-white.png');background-size:34%;background-position:3px 3px }
  //   .btn-pr { .btn;.btn-action;background-image:url('@{static}/img/author/pr-white.png');background-size:24%;background-position:2px 2px }
  //   .commitmsg {
  //     float:right;
  //     clear:right;
  //     margin:5px 5px 10px 5px;
  //     input { width:670px }
  //   }

    // span { font-weight:bold }
    // label { display:block;font-size:18px;
    //   padding:6px 0 0 10px;font-weight:normal }
    // #tips {
    //   background:@palegray;
    //   padding:20px
    // }
  // }

  // @media screen and (min-width:1300px) {
  //   #editor {
  //     width:550px;
  //     .ace_editor {
  //       font-size:12px;
  //     }
  //   }
  //   .preview {
  //     left:550px;
  //   }
  // }
  // @media screen and (min-width:1340px) {
  //   #editor {
  //     width:600px;
  //     .ace_editor {
  //       font-size:13px;
  //     }
  //   }
  //   .preview {
  //     left:600px;
  //   }
  // }
  // @media screen and (min-width:1390px) {
  //   #editor {
  //     width:650px;
  //     .ace_gutter { display:inline-block; }
  //   }
  //   .preview {
  //     left:650px;
  //     width:inherit;
  //     article { margin:auto }
  //   }
  // }
  // @media screen and (min-width:1440px) {
  //   #editor {
  //     width:700px;
  //   }
  //   .preview {
  //     left:700px;
  //   }
  // }
}

section#postsubmit {
  img.flow { max-width:620px;height:100px;margin:20px  }
  .submitRepo {
    .valid { color:green }
    .invalid { color:@error }
  }
}
